header {
  background-color: black;
  color: white;
  height: 80px;
}
.header {
  align-items: center;
  display: flex;
  height: 80px;
  margin: auto;
  max-width: 1140px;
}
.logo img {
  height: 50px;
}
.logo {
  width: 100px;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.menu ul,
.menu li {
  list-style: none;
}
.menu ul {
  display: flex;
}
.menu li a {
  align-items: center;
  border-bottom: 3px solid black;
  color: white;
  display: flex;
  font-weight: bold;
  margin: 0 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu li a:hover,
.menu .active a {
  border-bottom: 3px solid #b28756;
  opacity: 0.7;
  padding-bottom: 10px;
}
