.banner .slide-area {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.banner h1 span {
  color: #b28756;
}
.banner h2 {
  margin-top: 20px;
  text-transform: uppercase;
}
.banner a {
  background-color: #b28756;
  border-radius: 20px;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
}
